.bodyLayout {
  width: 100%;
  height: calc(100% - 55px);
  display: flex;
}

.bodyMain {
  box-sizing: border-box;
  width: calc(100% - 300px);
  height: 100%;
  padding: 20px 30px;
}

.bodyTab {
  box-sizing: border-box;
  height: 100%;
  width: 300px;
  background-color: #fff;
  padding: 20px 30px;
}
